* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.left-side {
    flex: 1;
    position: relative;
}

.left-side-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.right-side {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

input, textarea {
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #ffcc00;
}

textarea {
    resize: none;
}

.submit-btn {
    padding: 12px;
    background-color: #ffcc00;
    color: #333;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #e6b800;
}
